body {
  font-family: 'Poppins', sans-serif;
  letter-spacing: .1em;
}

body.noscroll {
  overflow: hidden;
}

header {
  background-image: url(../img/shunpei.jpg);
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: rgba(255, 255, 255, .1);
  background-blend-mode: lighten;
}

nav h2 {
  line-height: 6vh;
}

header nav {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 6vh;
  position: fixed;
  top: 0;
  padding: 10px;
  z-index: 8;
  background-color: rgb(255, 255, 255);
}

nav ul {
  display: none;
}

.nav-links {
  position: fixed;
  top: 0;
  right: 0;
  height: 100%;
  background-color: #fff;
  width: 100%;
  transform: translateX(100%);
  transition: transform .5s ease-in;
  z-index: 4;

}

.nav-links ul {
  display: flex;
  flex-direction: column;
  width: 60%;
  margin: 50vh auto;
  transform: translateY(-25vh);
  text-align: center;
}

.nav-links li {
  list-style: none;
  margin: 30px auto;
  font-size: 20px;
}

.nav-links a {
  text-decoration: none;
  color: #000;
}

.nav-active {
  transform: translateX(0%);
}

.burger {
  position: fixed;
  right: 20px;
  top: 20px;
  z-index: 8;
}

.burger div {
  width: 25px;
  height: 2px;
  margin: 6px;
  background-color: #000;
  transition: all 0.3s ease;
}

.toggle .line1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
  opacity: 0;
}

.toggle .line3 {
  transform: rotate(45deg) translate(-5px, -6px);
}

header .catch {
  position: absolute;
  height: 35vh;
  width: 100%;
  top: 50%;
  text-align: center;
  background-color: rgba(0, 0, 0, .6);
  color: #fff;
  animation: popping 2s forwards;
}

@keyframes popping {
  0% {
    transform: translateX(-100%);
  }
}

.catch h2 {
  font-size: 30px;
  text-align: left;
  margin-left: 20px;
  padding-top: 20px;
}

.catch .intro {
  text-align: left;
  padding-top: 20px;
  margin-left: 80px;
  margin-bottom: 20px;
}

.more {
  display: flex;
  justify-content: space-around;
  margin-top: 40px;
}

.more div a {
  margin-left: 20px;
  font-size: 24px;
  color: #fff;
}

.catch .btn {
  background-color: #fff;
  color: #000;
  text-decoration: none;
  padding: 10px;
}

@media (min-width: 480px) {
  header {
    background-size: contain;
    background-image: url(../img/shunpei-top.jpg);
  }

  header h2 {
    position: fixed;
    left: 10%;
  }

  header .catch {
    left: 50%;
    transform: translateX(-50%);
    width: 80%;
  }

  .nav-links {
    width: 40%;
    border-radius: 30%;
    border-left: 1px solid #000;
  }

  .nav-active {
    transform: translateX(25%);
  }

  .burger {
    top: 2.5%;
    right: 10%;
  }

  .more {
    margin-top: 80px;
  }

  .more i {
    font-size: 34px;
  }

  .catch .intro {
    position: relative;
    top: 20%;
    right: 20%;
    text-align: right;
  }
}

@media (min-width: 768px) {
  header {
    background-position-x: 10%;
  }

  header h2 {
    font-size: 26px;
  }

  header nav {
    width: 100%;
  }

  .nav-links {
    display: none;
  }

  .burger {
    display: none;
  }

  nav ul {
    display: flex;
    justify-content: space-around;
    position: fixed;
    width: 35%;
    top: 3%;
    right: 10%;
    border-bottom: 1px solid #000;
    text-align: center;
    padding-bottom: 10px;
  }

  nav a {
    text-decoration: none;
    color: #000;
    margin: 0 10px;
    padding-bottom: 5px;
  }

  nav a:hover {
    padding-bottom: 4px;
    border-bottom: 1px solid #000;
  }

  header .catch {
    width: 60%;
    transform: translateX(-25%);
  }

  .catch h2 {
    font-size: 30px;
  }

  .more {
    flex-direction: row-reverse;
  }

  .catch .intro {
    font-size: 24px;
  }
}