img {
  width: 100%;
  vertical-align: bottom;
}

body {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  font-family: '遊ゴシック体';
  color: #333333;
}

body.noscroll {
  overflow: hidden;
}

header {
  position: relative;
  width: 100%;
  height: 425px;
  color: #fff;
}

.logo {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  z-index: 5;
  color: #fff;
  padding: 15px 10px;
}

.mark1 {
  height: 34px;
}

.mark2 {
  height: 20px;
  padding-top: 4px;
}

.mark3 {
  height: 10px;
  padding-top: 14px;
  margin-left: 5px;
}

.nav-links {
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  background-color: rgba(34, 34, 34, .9);
  width: 70%;
  transform: translateX(100%);
  transition: transform .5s ease-in;
  z-index: 7;
}

.nav-links div {
  text-align: right;
}

.nav-links i {
  font-size: 30px;
  padding: 10px;
}

.nav-links ul {
  display: flex;
  flex-direction: column;
  width: 60%;
  margin: 70px auto;
  text-align: center;
}

.nav-links img {
  width: 100px;
  height: 100px;
}

.nav-links li {
  list-style: none;
  margin-top: 30px;
  font-size: 20px;
  letter-spacing: .1em;
}

.nav-links a {
  text-decoration: none;
  color: #fff;
}

.nav-active {
  transform: translateX(0%);
}

.menu {
  display: flex;
  justify-content: center;
  position: fixed;
  float: right;
  top: 0;
  right: 20px;
  z-index: 8;
  color: #fff;
  padding: 20px 20px;
  align-items: center;
  font-family: 'Montserrat';
}

.burger div {
  width: 25px;
  height: 3px;
  margin: 5px;
  background-color: #fff;
  transition: all 0.3s ease;
}

.toggle .line1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
  opacity: 0;
}

.toggle .line3 {
  transform: rotate(45deg) translate(-5px, -6px);
}

.menu p {
  padding-left: 5px;
  font-size: 12px;
}

.contact-head1 {
  width: 80%;
  height: 270px;
  background-image: url(../img/mask13.png);
  background-color: rgba(0, 0, 0, .3);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: darken;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
}

.contact-head2 {
  background-color: #222222;
  width: 55%;
  height: 365px;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
}

.contact-catch {
  position: absolute;
  z-index: 6;
  top: 130px;
  right: 20px;
}

.contact-catch h1 {
  font-family: 'Montserrat';
  font-size: 52px;
  letter-spacing: .05em;
  margin-bottom: 15px;
}

.contact-catch p {
  text-align: right;
}

.detail {
  width: 345px;
  margin: 40px auto;
  font-size: 14px;
  line-height: 1.8em;
}

main {
  max-width: 345px;
  margin: 0 auto;
}

form {
  width: 100%;
  margin: 20px auto;
}

form h3 {
  color: #333333;
  font-size: 16px;
  margin-bottom: 10px;
}

form h3 span {
  font-weight: 100;
  font-size: 12px;
  color: #fff;
  background-color: #333333;
  padding: 3px;
  margin-left: 5px;
}

input[type='radio'] {
  margin: 10px 10px;
}

.text p {
  margin: 35px 0 10px;
}

.text input {
  width: 100%;
  height: 48px;
}

.text span {
  font-weight: 100;
  font-size: 12px;
  color: #fff;
  background-color: #333333;
  padding: 3px;
  margin-left: 5px;
}

.text textarea {
  width: 100%;
  height: 210px;
}

form>p {
  font-family: 'Montserrat';
  margin: 35px 0 10px;
}

.policy {
  width: 345px;
  height: 226px;
  border: 1px solid#525252;
  overflow: scroll;
  padding: 10px 2px;
  margin-bottom: 35px;
  color: #333333;
}

.policy p {
  line-height: 1.8em;
}

.policy p+p {
  margin-top: 20px;
}

.agree {
  position: relative;
  height: 200px;
}

.btn {
  width: 160px;
  height: 36px;
  top: 50px;
  left: 50%;
  transform: translateX(-50%);
  margin: 35px auto 50px;
  background-color: #000;
  color: #fff;
  border: none;
  font-size: 14px;
  position: absolute;
}

footer {
  background-color: #525252;
  text-align: center;
  font-family: 'Montserrat';
  height: 50px;
  width: 100%;
}

footer p {
  line-height: 50px;
  color: #fff;
  font-size: 10px;
}

@media (min-width: 480px) {
  header {
    height: 630px;
  }

  .contact-head1 {
    height: 529px;
    background-image: url(../img/mask12@2x.png);
  }

  .contact-head2 {
    height: 615px;
  }

  .contact-catch {
    right: 40px;
  }

  .contact-catch p {
    text-align: left;
  }

  .detail {
    margin-top: 80px;
    width: 668px;
    font-size: 16px;
  }

  main {
    max-width: 668px;
  }

  br {
    display: none;
  }

  .policy {
    width: 668px;
  }

  .agree {
    text-align: center;
  }
}

@media (min-width: 768px) {
  header {
    height: 540px;
  }

  .nav-links {
    width: 40%;
  }

  .contact-head1 {
    height: 387px;
    background-image: url(../img/mask11@2x.png);
  }

  .contact-head2 {
    height: 451px;
  }

  .contact-catch {
    right: 155px;
  }

  .contact-catch h1 {
    font-size: 72px;
  }

  .contact-catch p {
    text-align: left;
    font-size: 20px;
  }

  main {
    max-width: 700px;
  }

  .policy {
    width: 700px;
  }
}