img {
  width: 100%;
  vertical-align: bottom;
}

body {
  box-sizing: border-box;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  font-family: '遊ゴシック体';
  color: #333333;
  width: 100vh;
}

body.noscroll {
  overflow: hidden;
}

header {
  position: relative;
  width: 100%;
  height: 750px;
  color: #fff;
  overflow: hidden;
}

.nav-links {
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  background-color: rgba(34, 34, 34, .9);
  width: 70%;
  transform: translateX(100%);
  transition: transform .5s ease-in;
  z-index: 8;
}

.nav-links div {
  text-align: right;
}

.nav-links i {
  font-size: 30px;
  padding: 10px;
}

.nav-links ul {
  display: flex;
  flex-direction: column;
  width: 60%;
  margin: 70px auto;
  text-align: center;
}

.nav-links img {
  width: 100px;
  height: 100px;
}

.nav-links li {
  list-style: none;
  margin-top: 30px;
  font-size: 20px;
  letter-spacing: .1em;
}

.nav-links a {
  text-decoration: none;
  color: #fff;
}

.nav-active {
  transform: translateX(0%);
}

.logo {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  z-index: 9;
  color: #fff;
  padding: 15px 10px;
}

.logo.black {
  background-color: #333;
  transition: background-color .3s;
}

.mark1 {
  height: 34px;
}

.mark2 {
  height: 20px;
  padding-top: 4px;
}

.mark3 {
  height: 10px;
  padding-top: 14px;
  margin-left: 5px;
}

.menu {
  display: flex;
  position: fixed;
  top: 0;
  right: 20px;
  z-index: 9;
  color: #fff;
  padding: 20px 20px;
  align-items: center;
  font-family: 'Montserrat';
}

.burger div {
  width: 25px;
  height: 3px;
  margin: 5px;
  background-color: #fff;
  transition: all 0.3s ease;
}

.burger.black div {
  background-color: #333;
  transition: background-color .3s;
}

.menu.black {
  color: #333;
  transition: color .3s;
}

.toggle .line1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
  opacity: 0;
}

.toggle .line3 {
  transform: rotate(45deg) translate(-5px, -6px);
}

.menu p {
  padding-left: 5px;
  font-size: 12px;
}

.burger-mask {
  display: none;
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, .5);
  z-index: 7;
}

.head1 {
  width: 80%;
  height: 580px;
  background-image: url(../img/kv-img.png);
  background-color: rgba(0, 0, 0, .3);
  background-blend-mode: darken;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
}

.head2 {
  background-color: #222222;
  width: 55%;
  height: 667px;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
}

.catch {
  position: absolute;
  z-index: 6;
  top: 180px;
  right: 20px;
}

.top {
  letter-spacing: .1em;
}

.top2 {
  letter-spacing: .1em;
}

.catch h1 {
  font-family: 'Montserrat';
  font-size: 56px;
  letter-spacing: .05em;
}

.sec01 {
  height: 541px;
  background-image: url(../img/mask16.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  box-sizing: border-box;
  width: 100%;
  position: relative;
  margin-bottom: 30px;
}

main {
  max-width: 345px;
}

.about-us {
  background-color: #fff;
  height: 441px;
  width: 95%;
  position: absolute;
  top: 50px;
  left: 2.5%;
  padding: 40px 30px;
  box-sizing: border-box;
}

.about-us h2 {
  font-family: 'Montserrat';
  font-size: 28px;
  margin-bottom: 30px;
  letter-spacing: 0.1em;
}

.about-us p {
  font-size: 14px;
  line-height: 2.2em;
}

.more {
  width: 160px;
  height: 36px;
  background-color: #000;
  color: #fff;
  text-align: center;
  line-height: 36px;
  font-family: 'Montserrat';
  font-size: 11px;
  margin-top: 20px;
}

.more a {
  text-decoration: none;
  color: #fff;
}

.sec02 {
  padding-bottom: 30px;
}

.works {
  width: 100%;
  height: 408px;
  padding: 0 10px;
}

.works h2 {
  font-family: 'Montserrat';
  font-size: 28px;
  margin-bottom: 30px;
  letter-spacing: .1em;
}

.works img {
  width: 345px;
  height: 232px;
  object-fit: cover;
}

.works p {
  margin: 30px 0;
}

.sec03 {
  padding-bottom: 30px;
}

.culture {
  width: 100%;
  height: 408px;
  padding: 0 10px;
}

.culture h2 {
  font-family: 'Montserrat';
  font-size: 28px;
  margin-bottom: 30px;
  letter-spacing: .1em;
}

.culture img {
  width: 345px;
  height: 232px;
  object-fit: cover;
}

.culture p {
  margin: 30px 0;
}

.sec04 {
  padding-bottom: 30px;
}

.latest-topics {
  width: 100%;
  height: 408px;
  padding: 0 10px;
}

.latest-topics h2 {
  font-family: 'Montserrat';
  font-size: 28px;
  letter-spacing: .1em;
}

.topics {
  width: 100%;
  margin: 30px 0;
}

.topics div {
  border-bottom: 1px solid #CECECE;
  margin-bottom: 10px;
}

.date {
  font-size: 10px;
  font-family: 'Montserrat';
  color: #CECECE;
  padding: 20px 0;
}

.topics p+p {
  font-size: 12px;
  padding-bottom: 15px;
  letter-spacing: .1em;
}

.sec05 {
  background-color: #f2f2f2;
  width: 100%;
}

.contact {
  width: 345px;
  height: 622px;
  padding: 0 10px;
}

.contact h2 {
  font-family: 'Montserrat';
  font-size: 28px;
  margin-bottom: 30px;
  letter-spacing: .1em;
}

.contact img {
  width: 345px;
  height: 232px;
  object-fit: cover;
  text-align: center;
  padding: 40px 0;
}

.content {
  margin: 30px 0;
}

.contact p {
  line-height: 1.8em;
}

footer {
  background-color: #525252;
  text-align: center;
  font-family: 'Montserrat';
  height: 50px;
  width: 100%;
}

footer p {
  line-height: 50px;
  color: #fff;
  font-size: 10px;
}

@media (min-width: 480px) {
  header {
    height: 1100px;
  }

  .head1 {
    height: 890px;
  }

  .head2 {
    height: 1024px;
  }

  .catch {
    right: 60px;
  }

  .nav-links {
    width: 50%;
  }

  main {
    max-width: 768px;
  }

  .about-us {
    width: 80%;
    height: 359px;
    left: 10%;
  }

  .about-us h2 {
    font-size: 32px;
  }

  .about-us p {
    font-size: 16px;
    line-height: 2.2em;
  }

  .works {
    margin-bottom: 120px;
  }

  .works img {
    max-width: 520px;
    height: 350px;
  }

  .culture {
    margin-bottom: 120px;
  }

  .culture img {
    max-width: 520px;
    height: 350px;
  }

  .contact {
    height: 800px;
  }

  .contact img {
    width: 520px;
    height: 350px;
  }
}

@media (min-width: 768px) {
  header {
    height: 840px;
  }

  .head1 {
    height: 640px;
    background-image: url(../img/kv-img@2x.png);
    background-size: cover;
  }

  .head2 {
    width: 780px;
    height: 740px;
  }

  .catch h1 {
    font-size: 72px;
  }

  .catch h3 {
    margin-bottom: 10px;
  }

  .catch {
    right: 120px;
  }

  .nav-links {
    width: 40%;
  }

  section {
    margin-bottom: 50px;
  }

  main {
    max-width: 2000px;
  }

  .sec01 {
    z-index: 3;
    width: 80%;
    height: 607px;
    margin: 0 auto 30px;
  }

  .about-us {
    width: 55%;
    height: 80%;
    left: 5%;
  }

  .box {
    display: flex;
    width: 100%;
    height: 600px;
    padding-top: 171px;
    justify-content: space-around;
    background-color: #f0f0f0;
    transform: translateY(-120px);
  }

  .sec04 {
    margin-bottom: 0;
  }

  .latest-topics {
    display: flex;
    justify-content: space-around;
  }

  .latest-topics h2 {
    width: 70%;
    text-align: center;
    font-size: 32px;
  }

  .latest-topics div {
    width: 90%;
  }

  .latest-topics .more {
    width: 160px;
    margin-left: auto;
    margin-right: 80px;
  }

  .sec05 {
    margin-bottom: 0;
  }

  .contact {
    width: 85%;
    margin: 0 auto;
    height: 622px;
    display: flex;
    justify-content: space-around;
    flex-direction: row-reverse;
    align-items: center;
  }

  .im {
    width: 52%;
    text-align: center;
  }

  .contact img {
    width: 100%;
    max-width: 580px;
    max-height: 390px;
  }

  .contact h2 {
    font-size: 32px;
  }

  .c {
    width: 40%;
  }

  .content {
    width: 100%;
  }

}